#TechnosBlock{
    padding: 100px  0  100px 0 ;
    margin-top:0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#TechnosBlock .banner{
    top: 0;
    background: #42B0D3;
    position: absolute;
    left: 0;
    width: 100%;
    height: 45%;
}

body.dark #TechnosBlock .banner{
    background: #3488A2;
}


#TechnosBlock .content{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    gap: 20px;
}



#TechnosBlock h2{
    color: #FFF9F2;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#TechnosBlock .content>div{
    height: fit-content;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    background: #FFF9F2;
    border: 1px solid #EAC0A2;
    border-radius: 25px;
}

#TechnosBlock .techos_subpart{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #EAC0A2;
    padding:30px  0  70px 0 ;
    gap: 50px;
}

#TechnosBlock .techos_subpart:last-child {
    border-right: none;
}

#TechnosBlock .techos_subpart>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#TechnosBlock .techos_subpart>div>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#TechnosBlock .techos_subpart p{
    color: #1F1717;
}

#TechnosBlock img{
    max-height: 70px;
    max-width: 60%;

}

